    .bgColorNav {
        background-color: rgb(164, 229, 23);
        border: solid 2px;
    }
    
    .bgPrimario {
        background-color: rgb(241, 141, 10);
        border: solid 2px;
    }

    .bgColorMenu{
        background-color: #06825f;
        border: solid 2px;
    }